body{
    margin: 0;
    padding: 0;
    background-color:#ffffffba;
    font-family: 'Arial';
}

.loginForm{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 200 0 0 450px;
    padding: 80px;
    background: #0d6efd;
    border-radius: 15px ;
}
h2{
    text-align: center;
    color: #0d6efd;
    padding: 20px;
}
label{
    color: #ffffff;
    font-size: 17px;
}

.Uname{
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

.Pass{
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

.log{
    width: 90%;

    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}

