 header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #6e6e6e;
}
h1 {
  margin: 0;
}
h1 > a {
  margin: 0;
  font-size: 2rem;
  text-decoration: none;
  color: #baff39;
}

.home {
  color: #856464;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-right: 1rem;
  
  color: #baff39;
  text-decoration: none;
}

#user,
#guest {
  display: flex;
  align-items: center;
}

.span {
  color: #baff39;
}

.userEmail {
  margin-right: 1rem;
  font-style: italic;
  font-size: 1.5rem;
  color: white;
}

.catalog{
  margin-right: 5rem;
  font-size: 1.5rem;
} 

