/* input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  height: auto;
}

.label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: black;
}

input[type="submit"] {
  background-color: wheat;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 85%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .col25, .col75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
 */

 /* .container{
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 200 0 0 450px;
  padding: 80px;
  background: #3a89a6;
  border-radius: 15px ;
 }

 .col25{
  width: 90%;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
 }
 .col75{
  width: 90%;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
 } */


.loginForm{
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 200 0 0 450px;
  padding: 80px;
  background: #3a89a6;
  border-radius: 15px ;
}
.h2{
  text-align: center;

  font-size: 4rem;
color: wheat;
text-shadow:
  0 1px 0px #378ab4,
  1px 0 0px #5dabcd,
  1px 2px 1px #378ab4,
  2px 1px 1px #5dabcd,
  2px 3px 2px #378ab4,
  3px 2px 2px #5dabcd,
  3px 4px 2px #378ab4,
  4px 3px 3px #5dabcd,
  4px 5px 3px #378ab4,
  5px 4px 2px #5dabcd,
  5px 6px 2px #378ab4,
  6px 5px 2px #5dabcd,
  6px 7px 1px #378ab4,
  7px 6px 1px #5dabcd,
  7px 8px 0px #378ab4,
  8px 7px 0px #5dabcd;
}
label{
  color: #ffffff;
  font-size: 17px;
}

.Uname{
  width: 90%;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

.Pass{
  width: 90%;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;

}

.log{
  width: 90%;

  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: 3a89a6;
}

